<div class="chat-container">
    <div *ngIf="!showChatWindow" class ="container">
        <h1 >Good day! How may I assist you today?</h1>
        <div class="prompt-container" >
            <mat-card class="prompt-card" *ngFor="let prompt of prompts.slice(0, promptsPerPage)">
                <img class="prompt-icon" src="/assets/prompt_image.png" alt="Prompt Image"/> <!--Sneha-->
                <div class="prompt-inner-content">
                    <h2>{{ prompt.title }}</h2>
                    <div class="row">
                    <p>{{ prompt.description }}</p>
                    <mat-icon class="forward-arrow">arrow_forward</mat-icon>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

        <div *ngIf ="showChatWindow" class="chat-messages" #chatWindow>
            <div *ngFor="let message of messages" class="message" [ngClass]="message.sender">
                <div class="avatar">
                    <img
                    [src]="message.sender === 'user' ? 'assets/user.svg' : 'assets/bot.svg'"
                    alt="avatar"
                  />
                </div>
                <span class="message-text">{{ message.text }}</span>


                    <div *ngIf="message.sender === 'bot'" class="interaction-options">

                        <mat-icon class="chat-icons" (click)="likeMessage(message)">thumb_up</mat-icon>
                            <mat-icon  class="chat-icons" (click)="dislikeMessage(message)">thumb_down</mat-icon>
                            <mat-icon class="chat-icons" (click)="copyMessage(message.text)">file_copy</mat-icon>
                            <mat-icon class="chat-icons" (click)="shareMessage(message.text)">share</mat-icon>

                    </div>
            </div>
            <div *ngIf="isLoading" >
                <ngx-skeleton-loader   count="2"   appearance="line"  animation="progress-dark">
                </ngx-skeleton-loader>
            </div>
        </div>

        <div class="chat-input-container">
            <button class="audio-btn"  (mousedown)="startListening()" (mouseup)="stopRecording()">
                <span class="material-icons">  mic   </span>
            </button>
            <textarea class="chat-input" type="text" placeholder="Ask me anything..."
               title = "Send Messages"
               (input)="onInputChange($event)"
               (keyup.enter)="sendMessage()"
               [(ngModel)]="searchText">
            </textarea>
            <button [ngClass]="{'enabled': searchText.trim(), 'disabled': !searchText.trim()}"
               (click)="sendMessage()" [disabled]="!searchText.trim()">
                <span class="material-icons" style="color: white;">
                    arrow_forward
                    </span>
            </button>
        </div>
</div>
